<script>
import { mapActions } from "vuex";
import MetadataBar from "@/components/MetadataBar.vue";
import CarrouselCard from "@/components/CarrouselCard.vue";

export default {
  name: "MarvelView",
  components: { CarrouselCard, MetadataBar },
  methods: {
    ...mapActions("characters", {
      getInitialCharacters: "getInitialCharacters",
      setPage: "setPage",
    }),
  },
  async mounted() {
    await this.getInitialCharacters();
    await this.setPage(1);
  },
};
</script>

<template>
  <div>
    <MetadataBar />
    <CarrouselCard />
  </div>
</template>
