<template>
  <div class="wrapper" v-show="!!characters">
    <div class="card" v-for="(item, _, idx) in characters" :key="idx">
      <div class="title">
        <label v-show="!!item.id"><span>Id: </span>{{ item.id }}</label>
        <label v-show="!!item.name"><span>Name: </span>{{ item.name }}</label>
      </div>
      <div class="status">
        <label v-show="!!item.species">
          <span>Species: </span>{{ item.species }}
        </label>
        <label v-show="!!item.status">
          <span>Status: </span>{{ item.status }}
        </label>
        <label v-show="!!item.type"><span>Type: </span>{{ item.type }}</label>
        <label v-show="!!item.gender">
          <span>Gender: </span>{{ item.gender }}
        </label>
      </div>
      <div class="image">
        <img :src="item.image" />
      </div>
      <!-- <div class="episodes">
        <label>Lista de episodios</label>
        <ul>
          <li v-for="(e, _, jdx) in item.episode" :key="jdx">
            <a :href="e">{{ getEpisodeNum(e) }}</a>
          </li>
        </ul>
      </div> -->
      <div class="links">
        <label>
          Origin:
          <a :href="item.origin.url">{{ item.origin.name }}</a>
        </label>
        <label>
          Location:
          <a :href="item.location.url">{{ item.location.name }}</a>
        </label>
        <label>
          Detalle:
          <a :href="item.url">{{ item.name }}</a>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "CarrouselCard",
  computed: {
    ...mapState({
      characters: (state) => state.characters.characters,
    }),
    // getEpisodeNum: (episodeURI) => {
    //   const episodeRegexp = new RegExp(/[0-9]*$/);
    //   return episodeURI.match(episodeRegexp).shift();
    // },
  },
};
</script>

<style scoped>
.wrapper {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  background-color: #303030;
  border-radius: 13px;
  padding: 1.3rem 0.3rem;
}
.card > .title,
.card > .status {
  color: #ccc;
  display: grid;
  font-size: 11pt;
  font-weight: 300;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}
.card > .title span,
.card > .status span {
  font-weight: 600;
}
.card img {
  border-radius: 50%;
  margin: 0.7rem 0;
}
.card > .episodes > label {
  color: #ccc;
  display: block;
  font-weight: 600;
  margin: 0 0 0.7rem 0;
}
.card > .episodes > ul {
  background-color: #444;
  border-radius: 17px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  list-style: none;
  padding: 0.3rem 1.3rem;
  text-align: left;
  text-decoration: none;
}
.card > .links {
  background-color: #ccf;
  border-radius: 17px;
  color: #444;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem 1rem 2rem;
  text-align: left;
}
</style>
