<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "MetadataBar",
  methods: {
    nextPage() {
      return this.loadPage(this.metadata?.next);
    },
    prevPage() {
      return this.loadPage(this.metadata?.prev);
    },
    ...mapActions("characters", {
      loadPage: "loadPage",
    }),
  },
  computed: {
    getTotalCharacters() {
      return this.metadata?.count ?? 0;
    },
    getTotalPages() {
      return this.metadata?.pages ?? 0;
    },
    existsPrevPage() {
      return !!this.metadata?.prev;
    },
    existsNextPage() {
      return !!this.metadata?.next;
    },
    ...mapGetters("characters", {
      metadata: "getMetadata",
      page: "getCurrentPage",
    }),
  },
};
</script>

<template>
  <ul class="metadatos" v-show="!!metadata">
    <li>
      <label>
        Total characters:
        <span>{{ getTotalCharacters }}</span>
      </label>
    </li>
    <li>
      <label>
        Total pages:
        <span>{{ getTotalPages }}</span>
      </label>
    </li>
    <li>
      <label>
        Current page:
        <span>{{ page }}</span>
      </label>
    </li>
    <li v-show="existsNextPage">
      <button @click="nextPage">Next page</button>
    </li>
    <li v-show="existsPrevPage">
      <button @click="prevPage">Previus page</button>
    </li>
  </ul>
</template>

<style scoped>
.metadatos {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
}
</style>
